<h4>Listing Treats <div class = "label label-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= link_to 'New Hawaii Treat', new_treat_path %></div></h4>

    <% @treats.each do |treat| %>
       <div class = "col-md-12 custom_margin">
          <div class = "t_container container-fluid">
            <div class = "t_header">
              <% if logged_in? && (current_user == treat.user || current_user.admin?) %>
              <div class = "t_control">
                <%= link_to edit_treat_path(treat) do %>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <% end %>
                <%= link_to treat, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
              </div>
              <% end %>
              <div class = "t_header">
                <%= link_to "How i treat "+treat.name, treat %>
                <br />
                <%= link_to treat.cat.name, cat_treats_path(treat.cat) %>
              </div>
            </div>
        <div class = "t_description">
        <td><%= treat.md ? "Yes":"No" %></td>
        <br />
        <td><%= treat.sym %></td>
        <br />
        <td><%= treat.reg %></td>
        </div>
        <div class = "t_details pull-left">
        by: <%= treat.user.username %>, <%= time_ago_in_words(treat.created_at) %> ago <br />last updated: <%= time_ago_in_words(treat.updated_at) %> ago
        </div>
        <div class="pull-right">
        <%= link_to like_treat_path(treat, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>
        <% end %>
        <%= treat.thumb_up_total %>
        &nbsp
        <%= link_to like_treat_path(treat, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i>
        <% end %>
        <%= treat.thumb_dw_total %>
        <br />
        Comments <span class="badge"><%= treat.comments %></span>
      </div>
        
    </div>
    </div>
  
<% end %>