<p>
  <strong>Name:</strong>
  <%= @treat.name %>
</p>

<p>
  <strong>Md:</strong>
  <%= @treat.md ? "Yes":"No" %>
</p>

<p>
  <strong>Sym:</strong>
  <%= @treat.sym %>
</p>

<p>
  <strong>Reg:</strong>
  <%= @treat.reg %>
</p>

<h2>Comments</h2>
<% @comms.each do |com| #@treat.coms.each do |com| %>
  <p>
    <b>Comment:</b>
    <%= com.text %> |
    <% if logged_in? && (current_user == com.user || current_user.admin?) %>
    <%= link_to 'Destroy Comment', [com.treat, com],
               :confirm => 'Are you sure?',
               :method => :delete %> |
    <% end %>
    <small><td>Created by: <%= com.user.username %>, <%= time_ago_in_words(com.created_at) %> ago, last updated: <%= time_ago_in_words(com.updated_at) %> </td></small>
    
        <% @reps.each do |rep| #@treat.reps.each do |rep| %>
          <% if rep.p_id == com.id%>
            <p>
                <b>Reply:</b>
                <%= rep.text %> |
                <% if logged_in? && (current_user == rep.user || current_user.admin?) %>
                <%= link_to 'Destroy reply', [rep.treat, rep],
                           :confirm => 'Are you sure?',
                           :method => :delete %> |
                <% end %>
                <small><td>Created by: <%= rep.user.username %>, <%= time_ago_in_words(rep.created_at) %> ago, last updated: <%= time_ago_in_words(rep.updated_at) %> </td></small>
            <% end %>
            <% end %>
    
      <%= form_for([@treat, @treat.reps.build]) do |f| %>
        <%= f.hidden_field :p_id, :value => com.id %>
        <div class="field">
        <%= f.label :text %><br />
        <%= f.text_area :text %>
        </div>
        <div class="actions">
        <%= f.submit %>
        </div>
        <% end %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@treat, @treat.reps.build]) do |f| %>
  <%= f.hidden_field :p_id, :value => 0 %>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_treat_path(@treat) %> |
<%= link_to 'Back', treats_path %>
