<div class = "modal-dialog">
	<div class = "modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <h1><%= (@chal.new_record? ? "Create challenge" : "Update challenge") %></h1>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <%= form_for(@chal) do |f| %>
        <% if @chal.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@chal.errors.count, "error") %> prohibited this chal from being saved:</h2>
            <ul>
            <% @chal.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, :class=>"form-control" %>
        </div>
        <div class="field">
          <%= f.label :reg %><br>
          <%= f.text_area :reg, :class=>"form-control" %>
        </div>
        <div class="field">
          <%= f.label :dur %><br>
          <%= f.number_field :dur, :class=>"form-control" %>
        </div>
        <div class="form-group field">
          <%= collection_select(:chal, :cat_id, Cat.all, :id, :name, {prompt: true}, {class: "form-control"}) %>
        </div>
        <div class="form-group field">
          <%= f.label :tags %><br>
          <%= collection_check_boxes(:chal, :tag_ids, Tag.all, :id, :name, {}, {class: "checkbox-inline"}) %>
        </div>
        <div class="actions">
          <%= f.submit(@chal.new_record? ? "Create challenge" : "Update challenge", :class => 'btn btn-success btn-block') %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= link_to 'Back' ,chals_path, :class=>"btn btn-danger btn-default pull-left" %>
	    <%= link_to "Show" ,@chal, :class=>"btn btn-danger btn-default pull-left" %>
    </div>
  </div>
</div>
