<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
   <li><%= msg %></li> 
  <% end %>
</ul>
<% end %>

<h1><%= (@user.new_record? ? "Create a new account" : "Edit an account") %></h1>

<%= form_for @user do |f| %>

  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit(@user.new_record? ? "Sign up" : "Update account") %></p>

<% end %>