<h1>Welcome to <%= @user.username %>'s page</h1>

<h4><%=  @user.username %>'s articles</h4>
<table>
  <tr><th>Title</th><th>Description</th></tr>
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to "Show", article_path(article) %></td>
    <% if logged_in? && (current_user == article.user || current_user.admin?) %>
    <td><%= link_to "Edit", edit_article_path(article) %></td>
    <td><%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
    <% end %>
    <small><td>Created by: <%= article.user.username %>, <%= time_ago_in_words(article.created_at) %> ago, last updated: <%= time_ago_in_words(article.updated_at) %> </td></small>
    
  </tr>
  <% end %>
</table>