<p id="notice"><%= notice %></p>

<h1>Listing Arts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <% #if logged_in? && (current_user == art.user || current_user.admin?) %>
      <th colspan="3"></th>
      <% #end %>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td><%= art.title %></td>
        <td><%= art.description %></td>
        <td><%= art.cat.name %></td>
        <td><%= link_to 'Show', art %></td>
        <% if logged_in? && (current_user == art.user || current_user.admin?) %>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <small><td>Created by: <%= art.user.username %>, <%= time_ago_in_words(art.created_at) %> ago, last updated: <%= time_ago_in_words(art.updated_at) %> </td></small>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art', new_art_path %>
