

<div class = "col-md-8" style = "margin-top: 20px;">
  <div class = "">
    <div class = "show_header">
      
      <!-- Title and Article controlls -->
      <div class = "show_title">
        <%= @art.title %> 
        <div class = "art_control" style = "margin-right: 20px; margin-top: 0px">
          <% if logged_in? && (current_user == @art.user || current_user.admin?) %>
                <%= link_to edit_art_path(@art) do %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <% end %>   
                <%= link_to @art, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
          <% end %>
        </div>
      </div>
      
      <!-- Article Info -->
      <div class = "show_info">
        <div class = "tile_author">
          	by <b> <%= @art.user.username %> </b>
        </div>
        <div class = "show_comms">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <%= @art.comments %></span>
        </div>
        <div class = "show_date">
            <%= time_ago_in_words(@art.created_at) %> ago
        </div>
        <div class = "show_cat">
            <%= @art.cat.name %> 
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- Implementeaza imagine pentru fiecare articol -->
  <% pth = image_path("Title.jpg") %>   
  <div style="background: url(<%= pth %>) center center; background-size: cover; width: 100%; height: 300px"></div>
  
  <div class = "show_content">
    <%= @art.description %>
  </div>
  
  <div style = "margin-bottom: 5px; background-color: black; color: white; font-size: 20px; font-weight: bold; letter-spacing: -2px; padding: 10px;">
    COMMENTS
  </div>
  
      <!-- Add comment section -->
      <% if logged_in? %>
        <%= form_for([@art, @art.coms.build]) do |f| %>
          <div class="form-group">
            <%= f.hidden_field :p_id, :value => 0 %>
            <label for="comment">Your Comment</label>
            <div class="field">
              <%= f.text_area :text, :class => "form-control", :rows => "3", :cols => "30" %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "Add Comment", :class => "btn" %>
          </div>
        <% end %>
      <% end %>
      <!-- End of Add comment section -->
     
  <div class="commentSection">
    <div class="post-comments">
      <div class="row">
        
      <!-- Comment in media -->
        
      <% @comms.each do |com| #@art.coms.each do |com| %>
      
        <!-- Each Comment -->
        <div class="media">
          
          <!-- Colapse for comment -->
          <div class="media-heading">
            <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapse<%= com.id %>" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> <span class="label label-info"><%= com.user.username %></span> <%= time_ago_in_words(com.created_at) %> ago
          </div>
  
          <!-- Colapse everything from here down -->
          <div class="panel-collapse collapse in" id="collapse<%= com.id %>">
  
            <!-- Actual comment  -->
            <div class="media-body">
              <p><%= com.text %></p>
              
              <% if logged_in? %>
              <!-- Reply form for comm ID -->
              <div class="comment-meta">
                <% if logged_in? && (current_user == com.user || current_user.admin?) %>
                  <%= link_to 'Delete comment', [com.art, com],
                     :confirm => 'Are you sure?',
                     :method => :delete %> |
                <% end %>
   
                <span>
                  <a class="" role="button" data-toggle="collapse" href="#reply<%= com.id %>" aria-expanded="false" aria-controls="collapseExample">Add Reply</a>
                </span>
                  
                <div class="collapse" id="reply<%= com.id %>">
                  <%= form_for([@art, @art.coms.build]) do |f| %>
                    <%= f.hidden_field :p_id, :value => com.id %>
                    <div class="field form-group">
                      <label for="comment">Your Comment</label>
                      <%= f.text_area :text, :class=>"form-control", :rows=>"3" %>
                    </div>
                    <div class="actions">
                      <%= f.submit "Add Reply", :class => "btn btn-default" %>
                    </div>
                  <% end %>
                </div>
              </div>
              <!-- End of reply form -->
              <% end %>
              
              <!-- All replays for comm ID -->
              <% @reps.each do |rep| #@art.reps.each do |rep| %>
                <% if rep.p_id == com.id%>
                  <div class="media">
                    
                    <!-- Colapse reply -->
                    <div class="media-heading">
                      <button class="btn btn-default btn-collapse btn-xs" type="button" data-toggle="collapse" data-target="#collapseReply<%= rep.id %>" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> <span class="label label-info"><%= rep.user.username %></span> <%= time_ago_in_words(rep.created_at) %> ago
                    </div>
      
                    <div class="panel-collapse collapse in" id="collapseReply<%= rep.id %>">
    
                      <div class="media-body">
                        <p><%= rep.text %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <!-- End of replys -->
              
            </div>
          </div>
        </div>
        <% end %>
        <!-- End of Comment -->
  
      <!-- End of Comment Template -->
      </div>
    </div>
  </div>

</div>

 <!-- Ads Placeholder (replace later with dynamic not on each page)-->
<div class = "col-md-4" style= "margin-right: 0px; padding-right: 0px; margin-top: 20px">
  <div class = "add_css">
    <div class = "add_1 add_shadow">
      PLACE HOLDER
    </div>
    <div class = "add_3 add_shadow">
      PLACE HOLDER
    </div>
    <div class = "add_2 add_shadow">
      PLACE HOLDER
    </div>
  </div>
</div>