<!DOCTYPE html>
<html>
<head>
  <title>GreenLife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>GreenLife Logo</header>

<nav>
<ul>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Articles',arts_path %></li>
<li><%= link_to 'Hawaii Treats',treats_path %></li>
<li><%= link_to 'Challenges',chals_path %></li>
<% if current_user.try(:admin?) && logged_in?  %>
<li><%= link_to "Users", users_path %></li>
<li><%= link_to "Categories", cats_path %></li>
<li><%= link_to "Tags", tags_path %></li>
<% end %>
</ul>
</nav>
<% if logged_in? %>
<section>Welcome <%= current_user.username %>, <%= link_to 'Log out', logout_path, method: :destroy %></section>
<% else %>
<section>Welcome Guest, <%= link_to "Log In", login_path%>/<%= link_to "Sign up", signup_path%></section>
<% end %>

<br />

<body>
<% flash.each do |name, msg| %>
<p><%= msg %></p>
<% end %>
<%= yield %>

</body>
<br />
<footer>Copyright bla</footer>

</html>